

.footerWrapper{
    margin: 0 0 42px 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.reviews{
    padding: 5px 15px;
    color: $color-primary-light-6;

}

.forAppWrapper{
    margin-right: 24px;
    background: white;
    min-width: 240px;
}
.footer_downloadDescriptionWrapper{
    flex-direction:column;
    padding:12px 24px;
}
.footer_downloadForPhone{
    padding-bottom:8px;
    color:$color-primary-light-6;
}
.footer_forPro{
    color:#8c8c8c;
}
.os{
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
}
.osButtonWrapper{
    padding: 7px 11px;
    display: flex;
    span{
        padding-left: 8px
    }
}
