

.footerWrapper{
    width: 100%;
    //margin: 0 0 42px 24px;
    display: flex;
    //flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;


}

.reviews{
    padding: 5px 15px;
    color: $color-primary-light-6;

}

.forAppWrapper{
    //margin-right: 24px;
    background: white;
    min-width: 240px;
    margin: 24px;
}
.footer_downloadDescriptionWrapper{
    flex-direction:column;
    padding:12px 24px;
}
.footer_downloadForPhone{
    padding-bottom:8px;
    color:$color-primary-light-6;
}
.footer_forPro{
    color:#8c8c8c;
}
.os{
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
}
.osButtonWrapper{
    padding: 7px 11px;
    display: flex;
    span{
        padding-left: 8px
    }
}


@media screen and (max-width: 360px){
    .forAppWrapper{
        //margin-right: 24px;
        background: white;
        min-width: 100%;
      margin: 0 0 0 0;
    }
    .reviews{
        padding: 33px 0 10px 0;
    }
    .footerWrapper{
        width: 100%;
        //margin: 0 0 42px 24px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;


    }

}
