

.footerWrapper{
    margin: 0 0 42px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.reviews{
    padding: 10px 15px;
}

.forAppWrapper{
    margin-right: 24px;
    background: white;
}
.os{
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
}
.osButtonWrapper{
    padding: 7px 11px;
    display: flex;
}
