
.character {
    font-size: 14px;
    border-radius: 2px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-character-light-title-85;
   border:1px solid $color-character-light-border;
}
.character--inactive{
    background: inherit;
}
.characterError{
    border-color: red;
}
