.sorting-container {
    display: flex;
    justify-content: space-between;
    width: 830px;
    margin-left: 6px;

    button, input {
        border: none;
        box-shadow: 0 2px 4px rgba(191, 196, 201, 0.2),
        0 3px 4px rgba(191, 196, 201, 0.18),
        0 1px 5px rgba(191, 196, 201, 0.24);
        background-repeat: no-repeat;
        background-position-y: center;
    }
}

.sort-by-rating-container {
    display: flex;

}

.button {
    border: none;
    box-shadow: 0 2px 4px rgba(191, 196, 201, 0.2),
    0 3px 4px rgba(191, 196, 201, 0.18),
    0 1px 5px rgba(191, 196, 201, 0.24);
    background-repeat: no-repeat;
    background-position-y: center;
}

.input-search {
    width: 350px;
    height: 38px;
    border-radius: 598px;
    background-image: url("../../assets/svg/search.svg");
    background-position-x: 17px;
    text-indent: 40px;
    margin-right: 16px;
    background-color: rgba(1, 1, 1, 0);

    &::placeholder {
        color: #A7A7A7;
    }
    &:focus{
        outline: none;
        caret-color: rgb(248, 54, 0);
        background-image: url("../../assets/svg/search-icon-color.svg");
    }

}

.button-search {
    display: none;
}

.sort-by-rating {
    width: 150px;
    height: 38px;
    border-radius: 598px;


    background-color: #ffffff;
    color: #A7A7A7;

    & .image-container {
        display: flex;
        align-items: center;
    }

    & .image-sort {
        display: inline-block;
        margin-left: 15px;
        width: 16px;
        height: 16px;
        background-position-x: 16px;
        background: url("../../assets/svg/sort.svg") no-repeat;
        transition: 0.5s;
    }

    & .rotate {
        transform: rotate(-180deg);
    }

    span:last-child {
        margin-left: 8px;
    }

    &:hover {
        content: 'saasas';
        cursor: pointer;
    }
}

.sort-button-container {
    display: flex;

    button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
    }
}

.square-icons {
    background: #ffffff
}

.line-icons {
    background: #ffffff;
    margin-left: 16px;
}

.active-icons {
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
}

@media (max-width: 768px) {
    .sorting-container {
        width: 640px;
    }
    .search {
        width: 274px;
    }
}

@media (max-width: 320px) {
    .sorting-container {
        width: 288px;
        margin-left: 0;

        .active-input-button {
            position: absolute;
            width: 10px;
            box-shadow: none;
            margin: auto;
            right: 10%;
            top: 0;
            bottom: 0;
            height: 10px;
            text-align: center;
            background-color: rgba(1, 1, 1, 0);
            border: none;
            transform: translateY(-25%);
        }
    }

    .input-search {
        caret-color: rgb(248, 54, 0);
        display: none;
        & :focus{
            caret-color: rgb(248, 54, 0);
        }

    }
    .button-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 598px;
        background-position-x: center;
        //background-position-x: 16px;
        background-color: #ffffff;
        color: #A7A7A7;
    }
    .sort-by-rating {
        width: 32px;
        height: 32px;
       margin-left: 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        & .image-sort {
            margin-left: 0;
        }

        span {
            display: none;
        }

    }
    .active-input-container {
        position: relative;
    }
    .active-input {
        width: 288px;
        height: 38px;
        border-radius: 600px;
        text-indent: 16px;
        caret-color: rgb(248, 54, 0);
        outline: none;

        & :focus{
            caret-color: rgb(248, 54, 0);
        }
        &::placeholder {
            font-size: 12px;
        }
    }

}
