@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
//
.common_wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.wrapper-active{
    overflow-y: hidden;
}


