.mainPages_layoutPageWrapper {
    min-height: 100vh;
    background: white;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    max-width: 1440px;
    margin: 0 auto;
    //overflow: hidden;

}
.mainPages_layoutPageWrapper_blur::before{
    z-index: 2;
}
.mainPages_layoutPageWrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
}


.mainPages_mainPageWrapper {
    height: 100%;
    display: flex;
    flex-direction: column;

}

.mainPages_mainContentWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mainPages_footerWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 24px 24px 42px 24px;
}

@media screen and (max-width: 360px){
    .mainContent_cardsActionsWrapper{
        flex-direction: column;
    }
    .mainPages_mainContentWrapper{
        //flex-direction: row;
    }
}
