@import "fonts/fonts";
@import "components/header";
@import "components/mainContent";
@import "components/footer";
@import "components/sidebar";
@import "colors/colors";
@import "typography/typography";
@import "common/common";
@import "icons/calendar";
@import "pages/mainPages";



.main_page_image-light {
    background: url("../assets/png/Main-page_light1.jpg") no-repeat center  ;
    background-size:cover;
    width: 100%;
    height: 100%;

}
@media screen and (max-width: 360px){
   .main_page_image-light{
       //height: 100vh;
   }

}
