
.success-model{
    & .ant-modal-body{
        padding: 64px 86px;
    }
    & .ant-result{
        padding: 0;
    }
    .ant-result-title{
        line-height: 130%;
        font-weight: 500;
    }

}
.success_wrapper{
width: 368px;
}

.ant-modal-mask {
    backdrop-filter: blur(5px);
}


@media screen and (max-width: 360px) {
    .success_wrapper {
        width: 296px;
    }
    .success-model {

        & .ant-modal-body {
            padding: 32px 16px;
        }

    }
}
