@import "./../typography/typography";


.body_regular_16{
    font-size: 16px;
    line-height: $line-height;
    font-weight: $font-weight-regular;
}
.body_regular_14{
    font-size: 14px;
    line-height: $line-height;
    font-weight: $font-weight-regular;
}
.body_regular_12{
    font-size: 12px;
    line-height: $line-height;
    font-weight: $font-weight-regular;
}
.body_regular_20{
    font-size: 20px;
    line-height: $line-height;
    font-weight: $font-weight-medium;
}

.ant-layout-sider-children {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


h1{
    margin: 0;
}
h4{
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: $color-character-light-title-85;

}
