


.result_changePassword__wrapper{
    padding: 64px 85px;

}
.result_changePassword__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: $color-character-light-title-85;
    margin-bottom: 24px;
}

.result_changePassword__inputsWrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
