
.result_changePassword__wrapper {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 64px 86px;
}

.result_registerFormWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    div {
        margin: 0;
    }
}


.result_changePassword__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: $color-character-light-title-85;
    margin-bottom: 32px;
}

.result_changePassword__inputsWrapper {
    width: 368px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.resultPage_inputItem {
    height: 70px;
}

@media screen and (max-width: 360px) {


    .result_changePassword__wrapper {
        padding: 32px 16px;

        & .ant-result-subtitle {
            width: 296px;
            line-height: 130%;
        }
    }

    .result_changePassword__inputsWrapper {
        width: 296px;
    }

    .result_registerFormWrapper {
        width: 296px;
    }
}

