
.calendar-wrapper {
    background: $color-primary-light-1;
    padding: 0 24px;
    margin-bottom: 48px;


}

.calendar {
    background: rgba(0, 0, 0, 0);
    margin-left: -10px;


}
.ant-picker-calendar-header{
    padding: 12px 10px 12px 0;
}

.ant-picker-calendar {
    & table {
        border-collapse: separate;
        border-spacing: 10px 0;
    }

    & th {
        background: white;
    }

    & td {
        background: white;
    }
}


.ant-picker-calendar-full .ant-picker-panel {
    background: rgba(0, 0, 0, 0);
}

.ant-picker-calendar-date {
    padding: 0 10px;
}
