.main_wrapper {
  display:flex;
  margin:0 auto;
  flex:1 0 auto;
}

@media (max-width:768px) {
  .main_wrapper {
    width:640px;
  }
}
@media (max-width:320px) {
  .main_wrapper {
    width:288px;
  }
}
